body {
    background-image: linear-gradient(to bottom, #2D336B, #7886C7, #A9B5DF);
    min-height: 100vh;
    margin:0;
    display: grid;
}
h1 {
    text-align: center;
    color: #f2f2f2;
}

h2, p {
    margin-left: 20px;
    color:#1b2143;
}

hr {
    width: 80%;
    margin-right: 50%;
    border: none;
    border-top: 1px solid #ccc;
}


header {
    top: 0;
    left: 0;
    right: 0;
    color: #ffffff;
    background-color: #1f244000;
}

/*START OF NAVIGATION*/
.navigation-cont {
    display:flex;
    justify-content:space-between;
    background-color: #24294b;
}

.navigation-cont div.page-name {
    width:150px;
    text-align: left;
    font-size: 30px;
    margin:5px;
    padding:10px;
}

.navigation-cont div.navigation-links {
    text-align: center;
    width:360px;
    display:flex;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
}

.navigation-links a {
    color:#A9B5DF;
    text-decoration: none;
}

.navigation-links a.active {
    color: #E8BB85;
;
}

.navigation-links a:hover {
    color:#EFE9D5;
}

.navigation-cont div.registration {
    width:140px;
    display:flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    text-align: right;
}

.registration a {
    color: #A9B5DF;
    text-decoration: none;
}

.registration a:hover {
    color:#EFE9D5;
}


/*HERO SECTION*/
.hero-section {
    background-image: linear-gradient(#1f24408e, #1f24408e), url(../Images/star.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 60vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #ffffff;
    text-align: center;

}

.hero-section h3 {
    color: #a4aac7;
    text-align: center;
}


/*NAVIRA INFO*/
.navira-info {
    text-align: center;
    font-size: 20px;
    background-color: #EFE9D5;
    padding: 5%;
    margin-top:30px;
    margin-bottom:30px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 100px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.navira-infoI {
    text-align: center;
    font-size: 18px;
    background-color: #EFE9D5;
    padding: 5%;
    width:600px;
    margin-left: 25%;
    margin-top:30px;
    margin-bottom:30px;
    border-radius: 100px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}


/*NAVIRA FEATURES*/
.navira-features {
    text-align: center;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.cont-features {
    display: grid;
    grid-template-columns: auto auto;
    margin-left:20px;
    margin-right: 20px;
    padding: 10px;
    gap: 20px;


}

.cont-features div {
    border-radius: 8px;
    background-color: #e0e2ee;
    color:#1f2440; /*text color*/
    padding: 15%;
    font-size: 20px;
    text-align: center; 
}


/*BUTTON*/
.btn {
    text-align: center;
}

.button {
    border: none;
    color:#1f2440;
    background-color: #E8BB85;
    padding: 14px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    cursor: pointer;
    border-radius: 16px;
    

}

.button:hover {
    background-color: #6f84e1;
    color: #EFE9D5;
}
/*CONTACT*/
.contact-options {
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
}

.email, .call, .visit{
    background-color: #1f2440af;
    width: 400px;
    border-radius: 10px;
    margin: 20px;
}

.contact-form {
    padding-top: 30px;
    font-size: 20px;
    background-color:#EFE9D5;
    margin-top: 10px;
    margin-bottom:70px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.contact-form h2, p {
    text-align: center;
    margin-left: 0;
    color: #1b2143;
}

.optp {
    color:#ced3f1ad;
}

.contactp {
    color:#c4c7d7;
    font-size: 18px;
    text-align: center;
}

h3 {
    color:#c4c7d7;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.contact-options h3, h4 {
    text-align:center;
    color: #A9B5DF;
}

.contact-form button {
    background-color: #E8BB85;
  color: white;
  padding: 12px 20px;
  margin-top: 6px;
  margin-bottom: 15px;
  margin-right: 100px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

#demo{
   margin-top:65px;
   margin-bottom: 25px;
}



input[type=text], select, textarea{
    width: 75%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize:vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}



.col-prompt {
    float: left;
    width: 30%;
    margin-top: 6px;
    margin-left:13%;

}

.col-answer {
    float: left;
    width: 100%;
    margin-top: 6px;
    text-align: center;
}

.row:after {
    content:"";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
  .col-prompt, .col-answer, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/*NEWSBOARD*/
.date-time p {
    color: #313864;
    background-color: #E8BB85;
    padding:10px;
    width:300px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

/*FOOTER*/
footer {
    text-align: center;
    padding: 3px;
    background-color: #1f2440;
    color: #A9B5DF;
}

footer a {
    color: #6f84e1;
}

footer a:hover {
    color: #EFE9D5;
}

footer p {
        color: #A9B5DF;

}

div img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.About {
    background-color: #A9B5DF;
    margin-left: 30%;
    height:300px;
    width:px;
}

.img-text {
    display:flex;
    justify-content:space-between;
    margin-left:100px;
    margin-right: 100px;
 
}

.images-fea {

}